/* styles.css */

/* General box-sizing for all elements */
*, ::after, ::before {
    box-sizing: border-box;
}

/* Apply styles to the body */
body {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 100vh; /* Use full viewport height */
    padding: 0 2rem;
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Set base font size */
    font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400; /* Regular font weight */
    line-height: 1.5; /* Line height for better readability */
    color: #212529; /* Text color */
    background-color: #fff; /* Background color */
    -webkit-font-smoothing: antialiased; /* Smooth font rendering */
    text-align: center; /* Center text */
}

h1 {
    text-size: 20px;
}

.nes-logo {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 40px;
}

header, footer {
    text-align: center; /* Center text in header and footer */
    padding: 20px; /* Add padding for spacing */
}

/* Header Container Styles */
header > .container {
    display: flex; /* Use Flexbox */
    align-items: baseline; /* Align items to baseline */
    max-width: 980px; /* Maximum width for the header */
    margin: 0 auto; /* Center the header container */
    padding-top: 1rem; /* Add top padding */
    transition: all 0.2s ease; /* Transition for smoothness */
}

/* Flexbox for Header Content */
.container {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    header > .container {
        margin: 0 0.5rem; /* Adjust margin for smaller screens */
    }
}

@media screen and (max-width: calc(980px - 4rem)) {
    header > .container {
        margin: 0 4rem; /* Adjust margin for medium screens */
    }
}
/* Main Content Styles */
main {
    flex: 1; /* Allow the main section to grow and fill the space */
    padding: 1rem; /* Padding for main content */
    background-color: #f8f9fa; /* Light gray background for the main content */
    border-radius: 8px; /* Rounded corners */
}



.right_align {
    text-align: right;
}